name: Release Module

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Zip Module
        run: |
          zip -r module.zip module.json scripts/ styles/ templates/

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            module.zip
            module.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
